<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/movieDetail.css" />
    <title>Movie Details</title>
  </head>
  <body>
    <h1>Movie Details</h1>
    <% if (error) { %>
    <div class="error-message">
      <% if (error === "Movie not found") { %>
      <p><%= error %>.</p>
      <% } else { %>
      <p>An error occurred. Please try again later.</p>
      <% } %>
    </div>
    <% } else { %>
    <div class="movie-details">
      <h3><%= movie.title %></h3>
      <p>Rating: <%= movie.rating %></p>
      <p>Release Date: <%= movie.releaseDate %></p>
      <p>Awards: <%= movie.awards %></p>
      <p>Genre: <%= movie.genre %></p>
    </div>
    <div class="actors">
      <h2>Actors:</h2>
      <% if (movie.actors.length > 0) { %>
      <ul>
        <% movie.actors.forEach(actor => { %>
        <li><%= actor %></li>
        <% }) %>
      </ul>
      <% } else { %>
      <p>Feature to add actors will be added soon.</p>
      <button class="add-actor-button">
        <a href="#">Add New Actor</a>
      </button>
      <% } %>
    </div>
    <% } %>

    <div class="buttons">
      <button class="edit-button" onclick="editMovie('<%= movie?.id %>')">
        Edit
      </button>
      <button class="delete-button" onclick="openDeleteModal()">Delete</button>
    </div>

    <div id="deleteModal" class="modal">
      <div class="modal-content">
        <h2>Confirm Delete</h2>
        <p>Are you sure you want to delete this movie?</p>
        <div class="modal-buttons">
          <button class="cancel-button" onclick="closeDeleteModal()">
            Cancel
          </button>
          <button
            class="confirm-button"
            onclick="deleteMovie('<%= movie?.id %>')"
          >
            Delete
          </button>
        </div>
      </div>
    </div>

    <script>
      function editMovie(movieId) {
        window.location.href = "/movies/edit/" + movieId;
      }

      function openDeleteModal() {
        var deleteModal = document.getElementById("deleteModal");
        deleteModal.style.display = "block";
      }

      function closeDeleteModal() {
        var deleteModal = document.getElementById("deleteModal");
        deleteModal.style.display = "none";
      }

      function deleteMovie(movieId) {
        return fetch(`/movies/delete/${movieId}?_method=DELETE`, {
          method: "POST",
        })
          .then((res) => res.json())
          .then((data) => {
            window.location.href = "/";
          })
          .catch((err) => {
            console.log(err);
            alert("An error occurred. Please try again later.");
          });
      }
    </script>
  </body>
</html>
